/* Contenedor principal */
.lista-chequeo-container {
    margin: 20px;
}

/* Miga de pan */
.breadcrumb-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumb-container img {
    width: 50px;
    margin-right: 10px;
}

.breadcrumb ol {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
}

.breadcrumb ol li {
    display: flex;
    align-items: center;
}

.breadcrumb ol li a {
    text-decoration: none;
    color: black;
}

/* Título de la lista de chequeo */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedores de las secciones de imágenes y observaciones */
.imagen-observacion-container {
    width: 45%;
    margin-bottom: 20px;
}

.imagen-observacion-container h3 {
    margin-bottom: 10px;
}

.imagen-observacion-container img {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Contenedor para imágenes y observaciones, incluyendo la organización del layout */
.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Indicador de combustible */
.combustible-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.combustible-container label {
    text-align: center;
    cursor: pointer;
}

.combustible-container label input {
    margin-bottom: 5px;
}

/* Botón de Ingresar */
.ingresar-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 5px;
}
