.container-listar {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h3-lista {
    color: #343a40;
    font-weight: bold;
}

.card-lista {
    border: 1px solid #e3e6f0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.form-group label {
    font-weight: bold;
    color: #495057;
}

.form-control-file {
    border: 1px solid #ced4da;
    padding: 5px;
    border-radius: 5px;
}

.form-control {
    border-radius: 5px;
}

.breadcrumb-item a {
    color: #6c757d;
}

.breadcrumb-item.active {
    color: #495057;
    font-weight: bold;
}

.btn {
    border-radius: 20px;
}

.btn-light {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-light:hover {
    background-color: #e2e6ea;
    border-color: #adb5bd;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
